
/**
 * Colors
 */
$color-white: #fff;
$color-gray-lighten: #f9f9f9;
$color-gray-lighten-2: #f5f5f5;
$color-gray-lighten-3: #afafaf;
$color-grey-text-form : #4B4B4B;
$color-grey-input-border: #dddddd;
$color-grey-footer-border: #e6e6e6;
$color-gray-title-popup-post: #222222;
$color-gray-text-popup-post: #606060;
$color-gray-light: #d4d4d4;
$color-gray-medium: #888586;

$color-gray: #bfbfbf;
$color-gray-dark: #656564;
$color-gray-darken: #222;
$color-black: #000;

$color-orange: #FF8723;

$color-primary: $color-black;
$color-secondary: $color-orange;
